# Starting analysis comparing Bike Theft with Bike Volume

In [1]:
#loading files needed
# Dependencies and Setup
import pandas as pd

# Files to Load
OTT_BV_2018to2020_LOAD = "../data_sets/OTT_BV_2018to2020.csv"
VAC_BV_sept2018to2020_LOAD = "../data_sets/VAC_BV_sept2018to2020.csv"
VAC_BV_jan_aug_2018_LOAD="../data_sets/VAC_BV_jan-aug2018.csv"
OTT_theft_LOAD = "../data_sets/o_theft_clean.csv"
VAC_theft_LOAD = "../data_sets/v_theft_clean.csv"

# Read files and store into Pandas data frame
OTT_BV = pd.read_csv(OTT_BV_2018to2020_LOAD)
VAC_BV2 = pd.read_csv(VAC_BV_sept2018to2020_LOAD)
VAC_BV1 =pd.read_csv(VAC_BV_jan_aug_2018_LOAD)
OTT_theft = pd.read_csv(OTT_theft_LOAD)
VAC_theft = pd.read_csv(VAC_theft_LOAD)

In [2]:
#Identify monthly usage / bike trafic  for two cities for each year (2018 - 2020).
OTT_BV.head()

,Unnamed: 0,Date,1^ALEX,2^ORPY,3^COBY,5^LMET,8^SOMO,10^OGLD,11 OBVW,12a^ADAWE,12b^ADAWE,4^CRTZ,Day of week,Day,Month,Year,Total Bike Volume
0,0,Mon 1 Jan 2018,7.0,12.0,4.0,26.0,0.0,83.0,5.0,37.0,390.0,0.0,Mon,1,Jan,2018,564.0
1,1,Tue 2 Jan 2018,55.0,9.0,37.0,153.0,2.0,104.0,5.0,87.0,491.0,0.0,Tue,2,Jan,2018,943.0
2,2,Wed 3 Jan 2018,100.0,12.0,67.0,242.0,36.0,66.0,8.0,134.0,609.0,0.0,Wed,3,Jan,2018,1274.0
3,3,Thu 4 Jan 2018,112.0,10.0,51.0,300.0,18.0,64.0,6.0,131.0,561.0,0.0,Thu,4,Jan,2018,1253.0
4,4,Fri 5 Jan 2018,46.0,1.0,37.0,158.0,2.0,27.0,2.0,65.0,295.0,0.0,Fri,5,Jan,2018,633.0

In [3]:
#checking how many data points for each year in Ottawa BV data set
OTT_BV['Year'] = OTT_BV['Year'].astype(str)
year_ott=OTT_BV.groupby(OTT_BV["Year"])["Total Bike Volume"].count()
year_ott

Year
2018    365
2019    365
2020    366
Name: Total Bike Volume, dtype: int64

In [5]:
VAC_BV2.dtypes

Unnamed: 0                                int64
Date                                     object
Burrard at Cornwall                       int64
Canada Line Bridge at West Kent           int64
Comox at Thurlow                          int64
Dunsmuir Viaduct                          int64
East 10th at Clark                        int64
Hornby and Robson                         int64
Lions Gate Bridge at Spirit Trail         int64
Ontario and 11th                          int64
Point Grey at Stephens                    int64
Point Grey at Volunteer Park              int64
Seawall 2nd Beach Pool                    int64
Seawall at Creekside Community Centre     int64
Seawall at David Lam Park                 int64
Seawall at Harbour Green Park             int64
Seawall at HMS Discovery                  int64
Seawall at Science World                  int64
Smithe at Expo                            int64
Stephens at Point Grey                    int64
Union at Hawks                            int64
Month-NonNumeric                         object
Day                                       int64
Year                                      int64
Month                                     int64
Numeric Date                             object
Day of Week                              object
Total Bike Volume                         int64
dtype: object

looks like some data is missing for year 2018

In [8]:
#checking how many data points for each year in Vancouver BV data set
VAC_BV2['Year'] = VAC_BV2['Year'].astype(str)
VAC_BV2['Month'] = VAC_BV2['Month'].astype(str)
year_vac=VAC_BV2.groupby(["Year","Month"])["Total Bike Volume"].count()
year_vac

Year  Month
2018  10       31
      11       30
      12       31
      8        31
      9        30
2019  1        31
      10       31
      11       30
      12       31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        30
2020  1        31
      10       31
      11       30
      12       31
      2        29
      3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        30
Name: Total Bike Volume, dtype: int64

In [9]:
VAC_BV1.head()

,Unnamed: 0,Date,Burrard Bridge,Hornby Street,Dunsmuir Street,Dunsmuir Viaduct,Canada Line,Union and Hawks,Lions Gate,Science World,10th and Clark,Point Grey Road,Day,Month,Year,Total Bike Volume
0,0,9-Aug,130.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Aug,2018,130.0
1,1,9-Sep,107.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Sep,2018,107.0
2,2,9-Oct,70.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Oct,2018,70.0
3,3,9-Nov,43.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Nov,2018,43.0
4,4,9-Dec,34.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Dec,2018,34.0

In [10]:
year_vac1=VAC_BV1.groupby(["Year","Month"])["Total Bike Volume"].count()
year_vac1

Year  Month
2018  Apr      9
      Aug      9
      Dec      9
      Feb      9
      Jan      9
      Jul      9
      Jun      9
      Mar      9
      May      9
      Nov      9
      Oct      9
      Sep      9
Name: Total Bike Volume, dtype: int64